<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
        <h1 class="text-black">Add Product</h1>
        <ol class="breadcrumb">
            <li><a href="/admin">Home</a></li>
            <li class="sub-bread"><i class="fa fa-angle-right"></i> Products</li>
            <li><i class="fa fa-angle-right"></i>Add Products</li>
        </ol>
    </div>

    <!-- Main content -->
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline">
                    <div class="card-header bg-blue">
                        <h5 class="text-white m-b-0">Add Product</h5>
                    </div>
                    <div class="container">
                        <div class="card-body">
                            <form enctype="multipart/form-data" action="/addNewProduct" method="POST">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Brand Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" name="brand"
                                        placeholder="Brand Name" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Product Name</label>
                                    <input type="text" class="form-control" name="name" id="exampleInputPassword1"
                                        placeholder="Product Name" required>
                                </div>
                                <div>
                                    <fieldset class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" id="basicTextarea" name="description"
                                            placeholder="Description" rows="3" required></textarea>
                                    </fieldset>
                                </div>
                                <label>Category</label>
                                <div>
                                    <select class="form-control" name="category">
                                        {{#each category}}
                                        <option value="{{this._id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Price</label>
                                    <input type="Number" class="form-control" name="price" id="exampleInputPassword1"
                                        placeholder="Price" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Quantity</label>
                                    <input type="Number" class="form-control" name="quantity" id="exampleInputPassword1"
                                        placeholder="Quantity" required>
                                </div>
                               <div class="form-group">
                                    <img src="../product-images/{{product._id}}.jpg" alt="" id="imgView" style="height: 100px; width:100px;">
                                </div>
                                {{!-- <div class="form-group">
                                    <img id="menu_image" class="preview_img" />
                                    <label for="exampleInputFile">Image</label>
                                    <input type="file" name="Image" id="exampleInputFile" id="menu_images" accept="image/x-png,image/jpg,image/jpeg" required>
                                </div> --}}
                                <div class="form-group">
                                    <label for="exampleInputFile">Image</label>
                                    <input type="file" name="Image" id="exampleInputFile" accept="image/x-png,image/jpg,image/jpeg" required onchange="viewImage(event)">
                                </div>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
     function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>