<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
        <h1 class="text-black">Edit Category</h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="sub-bread"><i class="fa fa-angle-right"></i>Category</li>
            <li><i class="fa fa-angle-right"></i>Edit Category</li>
        </ol>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline">
                    <div class="card-header bg-blue">
                        <h5 class="text-white m-b-0">Edit Category</h5>
                    </div>
                    <div class="container">
                        <div class="card-body">
                            <form id="catForm" action="/updateCat/{{category._id}}" method="POST">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Category Name</label>
                                    <input type="text" id="name" name="name" class="form-control"
                                        value="{{category.name}}" id="exampleInputEmail1" placeholder="Category Name">
                                </div>
                                <button type="submit" id="button" class="btn btn-success">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>