<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
        <h1 class="text-black">Offer</h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="sub-bread"><i class="fa fa-angle-right"></i>Offer</li>
            <li><i class="fa fa-angle-right"></i>Add offer</li>
        </ol>
    </div>
    <div class="content">
        <div class="row m-t-3">
            <div class="col-lg-12">
                <div class="card ">
                    <div class="card-header bg-blue">
                        <h5 class="text-white m-b-0">Add Offer</h5>
                    </div>
                    <div class="card-body">

                        <form >
                            
                                <div class="container">
                                    <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group has-feedback">
                                            <label class="control-label">Category</label>

                                            <select class="form-control" name="category" id="category">
                                                {{#each category}}
                                                <option value="{{this._id}}">{{this.name}}</option>
                                                {{/each}}
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label class="control-label">Start</label>
                                            <input class="form-control" placeholder="Last Name" id="start" type="date">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label class="control-label">Expiry</label>
                                            <input class="form-control" placeholder="E-mail" type="Date" id="end">
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <label class="control-label">Offer</label>
                                            <input class="form-control" placeholder="Offer(in %)" type="text" id="offer">
                                        </div>
                                    </div>
                                
                                <div class="col-md-12">
                                    <button type="submit" id="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
       
    </div>
</div>
</div>
<script>
    $('#submit').click((e)=>{
        e.preventDefault()
        console.log("Clicked")
        let start = $('#start').val()
        let end = $('#end').val()
        let category = $('#category').val()
        let offer = $('#offer').val()
        $.ajax({
            method:'post',
            url:'/offerByCategoryId',
            data:{
                start,end,category,offer
            },
            success:(response)=>{
                alert(response)
            }
        })
    })
</script>