 <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs"></div>
    Copyright © 2020 Pickart. All rights reserved.</footer>
</div>
<!-- ./wrapper --> 

<!-- jQuery 3 --> 
<script src="/dist/js/jquery.min.js"></script> 

<!-- v4.0.0-alpha.6 --> 
<script src="/dist/bootstrap/js/bootstrap.min.js"></script> 

<!-- template --> 
<script src="/dist/js/niche.js"></script>
</body>

</html>