<!-- breadcrumb area start -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<div class="breadcrumb-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/login">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Login</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->

<!-- Start of Login Wrapper -->
<div class="login-wrapper pb-70">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <main id="primary" class="site-main">
                    <div class="user-login">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12">
                                <div class="section-title text-center">
                                    <h3>Log in to your account</h3>
                                </div>
                            </div>
                        </div> <!-- end of row -->
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
                                <div class="login-form" id="formlogin">
                                    <form id="logform" action="/loginuser" method="POST">
                                        <div class="form-group row align-items-center mb-4">
                                            <label for="email" class="col-12 col-sm-12 col-md-4 col-form-label">Email
                                                address</label>
                                            <div class="col-12 col-sm-12 col-md-8">
                                                <input type="text" class="form-control" id="email" name="email"
                                                    placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center mb-4">
                                            <label for="c-password"
                                                class="col-12 col-sm-12 col-md-4 col-form-label">Password</label>
                                            <div class="col-12 col-sm-12 col-md-8">
                                                <input type="password" class="form-control" id="password"
                                                    name="password" placeholder="Password">
                                                {{!-- <button class="pass-show-btn" type="button">Show</button> --}}
                                            </div>
                                        </div>
                                        <div id="error" style="display: none !important;">
                                            <p class="text-center d-flex justify-content-center text-danger"><b>Invalid
                                                    credentails</b></p>
                                        </div>
                                        <div id="block" style="display: none !important;">
                                            <p class="text-center d-flex justify-content-center text-danger"><b>User Blocked!!!</b></p>
                                        </div>
                                        <div class="login-box mt-2 text-center">
                                            <button type="submit" class="btn btn-secondary mb-2 ">Sign In</button>
                                        </div>
                                    </form>
                                    <hr>
                                    <form id="formotp" action="/requestotp" method="POST">
                                        <div class="">
                                            <div class="form-group row align-items-center mb-4 ">
                                                <label for="email"
                                                    class="col-12 col-sm-12 col-md-4 col-form-label">Request OTP</label>
                                                <div class="col-12 col-sm-12 col-md-8">
                                                    <input type="number" class="form-control" id="phonenum"
                                                        name="phonenum" placeholder="Phone Number">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="phone" style="display: none !important;">
                                            <p class="text-center d-flex justify-content-center text-danger"><b>Phone
                                                    Number is not registered</b></p>
                                        </div>
                                        <div class="login-box mt-2 text-center">
                                            <button type="submit" class="btn btn-secondary mb-2 ">Request OTP</button>
                                        </div>
                                    </form>
                                    <div class="text-center pt-20 top-bordered">
                                        <p>No account? <a href="/signup">Create one here</a>.</p>
                                    </div>
                                </div>
                                <div>
                                    <form id="verifyotp" action="/verifyotp" method="POST" style="display: none;">
                                        <div class="">
                                            <div class="form-group row align-items-center mb-4 ">
                                                <label for="email"
                                                    class="col-12 col-sm-12 col-md-4 col-form-label">Verify OTP</label>
                                                <div class="col-12 col-sm-12 col-md-8">
                                                    <input type="number" class="form-control" id="otp" name="otp"
                                                        placeholder="Phone Number">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="invalidotp" style="display: none !important;">
                                            <p class="text-center d-flex justify-content-center text-danger"><b>Invalid
                                                    OTP</b></p>
                                        </div>
                                        <div class="login-box mt-2 text-center">
                                            <button type="submit" class="btn btn-secondary mb-2 ">verify OTP</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end of user-login -->
                </main> <!-- end of #primary -->
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>
<!-- End of Login Wrapper -->

<!-- scroll to top -->
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div> <!-- /End Scroll to Top -->
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script>
    $('#verifyotp').validate({
        submitHandler: function (verifyotp) {
            $.ajax({
                url: verifyotp.action,
                type: verifyotp.method,
                data: $(verifyotp).serialize(),
                success: (response) => {
                    if (response.user == true) {
                        $('#invalidotp').hide()
                        window.location.href = "home"
                    }
                    else {
                        $('#invalidotp').show()

                    }
                }
            });
        }
    })
    $('#formotp').validate({
        rules: {
            phonenum: {
                required: true,
                minlength: 10,
                maxlength: 10
            }
        },
        submitHandler: function (formotp) {
            $.ajax({
                url: formotp.action,
                type: formotp.method,
                data: $(formotp).serialize(),
                success: (response) => {
                    if (response.num != true) {
                        $('#phone').show()
                    }
                    else {
                        $('#phone').hide()
                        $('#formlogin').hide()
                        $('#verifyotp').show()
                    }
                }
            });
        }
    })

</script>
<script>
    $('#logform').validate({
        rules: {
            email: {
                required: true,
                email: true
            }
        },
        submitHandler: function (logform) {
            $.ajax({
                url: logform.action,
                type: logform.method,
                data: $(logform).serialize(),
                success: (response) => {
                    if (response.block ==1) {
                        $('#block').hide()
                        $('#error').show()
                    }
                    else if(response.block ==0){
                        $('#block').show()
                    }
                    else{
                        window.location.href = "test"
                    }
                }
            });
        }
    });
</script>